
<div class="row">
    <div class="d-none col-6 d-md-block mt-5">
        <img src="assets/images/login-page.jpeg" alt="" class="login-page-image">
    </div>
    <div class="mt-5 col-12 col-md-4" >
            <div class="login-logo">
                <img src="assets/images/logo.png" alt="" class="login-logo-image">
            </div>
            <mat-card class="login-form">
                <form [style.fontSize.px]="15" class="m-3">
                    <span style="text-align: center;">
                        <div class="login-text"> Log in to your account </div>
                    </span>
                    <mat-form-field class="w-100 mt-2" appearance="fill">
                        <mat-label>Email Id</mat-label>
                        <input matInput [formControl]="emailFormControl" placeholder="Ex. abc@example.com">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email ID is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 mt-4" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput [formControl]="passwordFormControl"
                            placeholder="Enter strong password">
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <button mat-fab extended color="primary" style="height: 48px;" class="mt-4 w-100"
                        [disabled]="emailFormControl.hasError('required') || passwordFormControl.hasError('required')"
                        (click)="onSubmit()">
                        Submit
                    </button>
                </form>
            </mat-card>


    </div>
</div>