<div class="id-card-tag"></div>
	<div class="id-card-tag-strip"></div>
	<div class="id-card-hook"></div>
	<div class="id-card-holder">
		<div class="id-card">
			<div class="id-card-header">
				<img src="assets/images/logo.png">
			</div>
			<div class="id-card-photo">
				<img src="assets/images/profile.png">
			</div>
			<div class="id-card-name">Kiran Das DA</div>
			<div style="color:green;" class="id-card-details">Active</div>
            <div class="id-card-details">40 Days left</div>
			<hr>
			<p class="id-card-bottom-details"><strong>"PENGG"</strong>HOUSE,4th Floor, TC 11/729(4), Division Office Road <p>
			<p class="id-card-bottom-details">Ph: 9446062493 | E-ail: xyz@gmail.com</p>

		</div>
	</div>