<!-- <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title">Success!</h2>
            <p class="card-text">Your request has been processed successfully.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container mt-4">
    <h1>Make a Payment</h1>
    <div class="row">
      <div class="col">
        <h2>Scan QR Code</h2>
        <div class="qr-code">
          <img src="assets/images/qrcode.jpeg" alt="QR Code">
        </div>
        <div>
            <img src="assets/images/phonepay.jpeg" alt="phonepay" width="230px">
        </div>
      </div>
      <div class="col">
        <h2>UPI Details</h2>
        <div class="payment-details">
          <ul>
            <li><strong>Account Name:</strong> John Doe</li>
            <li><strong>UPI ID:</strong>  796979797@ybl</li>
            <li><strong>Amount:</strong> 2000 per month</li>
          </ul>
          <p>Make the payment using your preferred UPI app by scanning the QR code or entering above UPI ID.</p>
          <p>Once the payment is successful,Send screenshot to 78687878687 on whatsapp.</p>
          <p>Call our team on 7868786878 in case of any doubt.</p>
        </div>
      </div>
    </div>
  </div>








