<mat-toolbar  class="mt-0 cust-head">
    <mat-toolbar-row>
         <button style="color: black;" mat-icon-button class=" d-sm-none" (click)="onToggleSidenav()"><mat-icon class="pl-2">menu</mat-icon></button> 
      <span class="spacer d-sm-none"></span>
        <a> <img src="assets/images/logo.png" class="header-logo" /></a>
        <span class="spacer"></span>
        <span class="app-title d-none d-md-block">User Management Service</span>

        <span class="spacer"></span>
      <!--   <ul>
            <li>
                <button mat-icon-button matTooltip="FAQ's">
                    <mat-icon>notifications_active</mat-icon>
                </button>
            </li>
        </ul> -->
    </mat-toolbar-row>
</mat-toolbar>