<app-breadcrumbs-nav [navList]="breadcrumbs"></app-breadcrumbs-nav>
<div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <mat-card class="form-layout text-center">
          <div class="text-center mt-4" >
            <img src="assets/images/user.png" alt="onboarding" style="width: 80px; height: 60px; border-radius: 50%;">
          </div>
          <div>
            <button class="user-edit-btn" mat-button color="primary"(click)="onEdit()"><mat-icon>edit</mat-icon>Edit</button>
          </div>
          <form [formGroup]="userDetails" (ngSubmit)="onSubmit()" style="margin-top:-30px;">
            <div class="row m-2">
              <div class="col-12 col-md-6">
                <mat-form-field class="w-100 " >
                  <mat-label>Full Name</mat-label>
                  <input matInput formControlName="fullName" >
                  <mat-error class="ml-n-20" *ngIf="userDetails.get('fullName')?.invalid && userDetails.get('fullName')?.touched">
                     Name is required
                  </mat-error>
                </mat-form-field>
              </div>
    
            
              <div class="col-12 col-md-6">
                <mat-form-field class="w-100" >
                  <mat-label>Mobile No</mat-label>
                  <input matInput formControlName="mobileNo">
                  <mat-error class="ml-n-20" *ngIf="userDetails.get('mobileNo')?.invalid && userDetails.get('mobileNo')?.touched">
                    Mobile No is required
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="col-12 col-md-6 ">
                <mat-form-field class="w-100" > 
                  <mat-label>Email ID</mat-label>
                  <input matInput formControlName="emailId">
                  <mat-error class="ml-n-20" *ngIf="userDetails.get('emailId')?.invalid && userDetails.get('emailId')?.touched">
                    Invalid Email ID
                  </mat-error>
                </mat-form-field>
              </div>

         
              <div class="col-12 col-md-6">
                <mat-form-field class="w-100 " >
                  <mat-label> Address</mat-label>
                  <input matInput formControlName="address">
                  <mat-error  class="ml-n-20" *ngIf="userDetails.get('address')?.invalid && userDetails.get('address')?.touched">
                    Address is required
                  </mat-error>
                </mat-form-field>
              </div>  

            

              <div class="col-12 col-md-6">
                <mat-form-field class="w-100 " >
                    <mat-label>Choose your Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error class="ml-n-20" *ngIf="userDetails.get('dob').invalid && userDetails.get('dob')?.touched">Date is required</mat-error>
              </mat-form-field>
              </div>
              
              <div class="col-12 col-md-6">
                <mat-form-field  class="w-100 " id="mySelect">
                    <mat-label for="mySelect">Select Subscription</mat-label>
                    <mat-select formControlName="selectSub" id="mySelect" > 
                      <mat-option *ngFor="let option of subList" [value]="option.value">{{ option.label }}</mat-option>
                    </mat-select>
                    <mat-error class="ml-n-20" *ngIf="userDetails.get('selectSub').invalid && userDetails.get('selectSub')?.touched">Please select an option</mat-error>
                  </mat-form-field>
              </div>


              <div class="col-12 col-md-6">
                <mat-form-field class="w-100 " >
                 <mat-label> Joining Reason</mat-label>
                <textarea matInput formControlName="joiningReason" placeholder="Enter text"></textarea>
                <mat-error class="ml-n-20" *ngIf="userDetails.get('joiningReason').invalid && userDetails.get('joiningReason')?.touched">Textarea is required</mat-error>
              </mat-form-field>
              </div>


              <div class="col-12 col-md-6">
                <div  *ngIf="!imageUploaded" >
  <!--                 <input type="file" #logo accept="image/*" hidden (change)="onImageUpload($event)">
                  <button  class="upload-button"  type="button" mat-icon-button (click)="logo.click()">
                    <mat-icon>cloud_upload</mat-icon>
                  </button>
                  <span class="icon-text">Upload your photo for Id</span> -->
                  <img src="assets/images/profile.png" alt="onboarding" style="width: 100px; height: 100px; border-radius: 50%;">
                  <div>Id Card image</div>
                </div>
                <div  *ngIf="imageUploaded" >
                  <div class="image-preview "  style="margin: auto;">
                    <img [src]="previewImage" alt="Preview Image">
                  </div>
                  <span class="img-clear"><mat-icon (click)="removeImage()"> clear</mat-icon></span>
                  <div style="margin-top: -25px;">{{logoName}}</div>
                </div>
                  
                
              </div>   
              <button class="w-100 mb-1 mt-2" mat-fab extended color="primary" type="submit">{{buttonType}}</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
   
  </div>