.image-preview {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .upload-icon {
    cursor: pointer;
  }
  
  .icon-text{
    position: relative;
    left: 10px;
    top: -8px;
  }